/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
.page{
  width: 100%;
}
