/* здесь используйте глобальные переменные */
// шрифты
// цвета

$oswald: "Oswald", "Arial", sans-serif;
$lato: "Lato", "Arial",sans-serif;

// размер экрана
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 320px;
