.banners{
  background-color: #F9F9F9;
}
.banners__list{
font-family: $sfProUltraLight;
text-align: center;
list-style: none;
}

.banners__tittle{
font-weight: 300;
font-size: 49px;
line-height: 48px;
}

.banners__text{
font-weight: 500;
font-size: 14px;
line-height: 24px;
color:#909090;
}

.banners__buttons{
  background-color: #F9F9F9;
}
