.hero {
  font-family: $sfProUltraLight;
  font-size: 16px;
  color: #909090;
  background-color: #211c24;
  text-align: center;
  width: 100%;
}

.hero__wrapper {
  padding: 0 4%;
}

.hero__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    text-align: start;
  }
}

.hero__button {
  text-decoration: none;
  color: #ffffff;
}

.hero__slogan {
  font-size: 25px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
}

.hero__product-name {
  font-weight: 200;
  font-size: 72px;
  line-height: 72px;
  color: #ffffff;
  margin: 0;

}

.hero__product-name span {
  font-weight: 600;
}

.hero__target {
  margin: 0;
}
