.main-footer {
  background-color: #181313;
  color: #cfcfcf;
  text-align: center;
}

.main-footer__container{

    @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 11%;
  }
}

.main-footer__social-list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width: $tablet-width) {
    padding: 0 11%;
  }
}

.main-footer__text {
  font-family: $lato;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin:0 ;
}

.main-footer__tittle-services {
  font-family: $sfProUltraLight;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.main-footer__services-list {
  font-family: $sfProUltraLight;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-footer__services-link {
  text-decoration: none;
  color: #cfcfcf;
}


