.products-category {
  font-family: $sfProUltraLight;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: #fafafa;
}

.products-category__wrapper {
  padding-left: 4%;
  padding-right: 4%;

  @media (min-width: $tablet-width) {
    padding-left: 12%;
    padding-right: 12%;
  }
}

.products-category__menu-container {
  display: flex;
  justify-content: space-between;
}

.products-category__tittle {
  font-size: 24px;
  line-height: 32px;
}

.products-category__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: 942px) {
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    gap: 2%;
  }

}

.products-category__item {
  background-color: #ededed;
  min-width: 11%;
  height: 128px;
  margin-bottom: 4%;

  @media (min-width: $tablet-width) {
    min-width: 14%;
  }
}

.products-category__item-link {
  text-decoration: none;
  color: #000000;
}

.products-category__button-slider {
  width: 32px;
  height: 32px;
  background-image: url("../../icons/stack.svg#Arrow");
  border: none;
  background-color: #fafafa;
}

.products-category__button-slider--forward {
  transform: rotate(180deg);
}

.products-category__container {
  width: 163px;
  height: 128px;
  background-size: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

.products-category__container--phones {
  background-image: url("../../icons/stack.svg#Phones");
  background-size: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

.products-category__container--watches {
  background-image: url("../../icons/stack.svg#Smart-Watches");

}

.products-category__container--cameras {
  background-image: url("../../icons/stack.svg#Cameras");

}

.products-category__container--headphones {
  background-image: url("../../icons/stack.svg#Headphones");

}

.products-category__container--computers {
  background-image: url("../../icons/stack.svg#Computers");

}

.products-category__container--gaming {
  background-image: url("../../icons/stack.svg#Gaming");

}
