.products-list {
  font-family: $sfProUltraLight;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  list-style: none;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 16px;
  width: 100%;
}



.products-list__item {
  background-color: #f6f6f6;
  width: 43%;
  display: flex;
  flex-direction: column;
  padding: 24px 12px;

  @media (min-width: $tablet-width) {
    width: 23%;
  }
}

.products-list__img {
  width: 104px;
  height: 104px;

  @media (min-width: $tablet-width) {
    width: 160px;
    height: 160px;
  }
}


.products-list__name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.products-list__price {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3%;
}

.products-list__buy {
  border: none;
  background-color: #000000;
  color: #ffffff;
}

.products-list__item-favorite {
  width: 32px;
  height: 32px;
  background-image: url("../../icons/stack.svg#Like");
  border: none;
}
