.products-line__list {
  font-family: $sfProUltraLight;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.products-line__item {
  padding-left: 4%;
  padding-right: 4%;
}

.products-line__name {
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
}

.products-line__name span {
  font-weight: 600;
}

.products-line__oprions {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #909090;
}

.products-line__item--black {
  background-color: #353535;
}

.products-line__item--black h3 {
  color: #ffffff;
}


.products-line__item--gray {
  background-color: #ededed;
}



.products-line__list li:nth-of-type(1) {
  @media (min-width: $tablet-width) {
    grid-area: 2 / 1 / 3 / 2;
  }
}

.products-line__list li:nth-of-type(2) {
  @media (min-width: $tablet-width) {
    grid-area: 2 / 2 / 3 / 3;
  }
}

.products-line__list li:nth-of-type(3) {
  @media (min-width: $tablet-width) {
    grid-area: 1 / 1 / 2 / 3;
  }
}

.products-line__list li:nth-of-type(4) {
  @media (min-width: $tablet-width) {
    grid-area: 1 / 3 / 3 / 5;
  }
}




.products-line__button {
  text-decoration: none;
  color: #000000;
}
